{{> header}}


<div class="container">
    <div class="page-header">
        <h1>Website Watcher</h1>
    </div>

    <div id="wrap">

        <h4>What is this?</h4>
        <p>This is a simple web application that takes a screenshot of your websites every 30 minutes.</p>
        <p>So you can easily monitor your websites, and see if the shown pages are what they are supposed to be.</p>


        <h4>How does it work?</h4>
        <p>Simply enter the address of your website in the box below and come back later to see its screenshots.</p>

        <form action="/history" method="post">
            <input type="text" name="url" placeholder="Type URL here..."><br />
            <button class="btn btn-primary" type="button">Add/Get History</button>
        </form>

    </div>

    <div id="push"></div>
</div>

{{> footer}}