{{> header}}


<div class="container">
    <div class="page-header">
        <h1><a href="/">Website Watcher</a></h1>
    </div>

    <div id="wrap">

        {{#if error}}
            {{error}}
        {{else}}
        <ul class="thumbnails">
            {{#each screenshots}}
                <li class="span4 screenshot">
                    <a href="/screenshots/{{file}}" class="fancybox thumbnail" title="{{date}}">
                        <img src="/screenshots/{{file}}" alt="" />
                        <div>{{date}}</div>
                    </a>
                </li>
            {{/each}}
        </ul>
        {{/if}}

    </div>

    <div id="push"></div>
</div>

{{> footer}}