{{> header}}


<div class="container">
    <div class="page-header">
        <h1>Website Watcher</h1>
    </div>

    <div id="wrap">

        {{#if error}}
            {{error}}
        {{else}}
        <ul class="thumbnails">
            {{#each screenshots}}
                <li class="span4 screenshot">
                    <a href="#" class="thumbnail">
                        <img src="/screenshots/{{file}}" alt="">
                        <div>{{file}}</div>
                    </a>
                </li>
            {{/each}}
        </ul>
        {{/if}}

    </div>

    <div id="push"></div>
</div>

{{> footer}}